.TopHeader-container {
  width: 100%;
  height: 48px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: #fff;
}

.frame-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 15px;
}

.left-side-frame-container {
  grid-column: 2;
  display: flex;
  align-items: center;
  gap: 8px;
}

.left-side-frame-container p {
  font-size: 14px;
  margin: 0;
}

.left-side-frame-container span {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 8px;
}

.right-side-frame-container {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
}

/*DropDown*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9999;

  background-color: #fff;
  color: #000;
  list-style: none;
  padding: 8px 0;
  margin: 5px 0 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 120px;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}
